!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name:"viewport"}/
    %title Banqueteria Florence
    %link{rel: "stylesheet", href:"assets/css/bootstrap.min.css"}/
    %link{rel: "stylesheet", href:"assets/css/main.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick-theme.css"}/
    %link{rel: "stylesheet", href:"assets/css/font-awesome.css"}/
    / Favicons
    %link{:href => "assets/img/favicon.ico", :rel => "shortcut icon"}/
  %body
    %header#home
      %nav.navbar.navbar-expand-lg.fixed-top.navbar-fixed-js
        .container
          .main-brand
            %a.navbar-brand{:href => "#"}
              %img#iso{:src => "assets/img/banqueteria-florence-logo.png"}/
            %button#hamburger.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.ml-autos{"data-toggle" => "offcanvas", :type => "button"}
              %span.hamburger-box
                %span.hamburger-inner
          .navbar-collapse.offcanvas-collapse
            %ul.navbar-nav.mr-autos.ul-nav__relative
              %li.nav-item
                %a.nav-link.active{:href => "index.html"} Home
              %li.dropdown.nav-item
                %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Eventos empresas
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Coffee Break
                  %li
                    %a{:href => "#"} Desayunos
                  %li
                    %a{:href => "#"} Buffet
                  %li
                    %a{:href => "#"} Lunch Box
                  %li
                    %a{:href => "#"} Cóctel
              %li.dropdown.nav-item
                %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Eventos personas
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Cóctel
                  %li
                    %a{:href => "#"} Buffet
              %li.dropdown.nav-item
                %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Cocteleria
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Galería cocteleria
                  %li
                    %a{:href => "#"} Lista de precios

              %li.dropdown.nav-item
                %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Pastelería
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Tortas Artesanales
                  %li
                    %a{:href => "#"} Tortas con Diseño
                  %li
                    %a{:href => "#"} Tortas de Novios
                  %li
                    %a{:href => "#"} Postres al vaso
                  %li
                    %a{:href => "#"} Desayunos a Domicilio
              %li.nav-item
                %a.nav-link{:href => "blog.html"} Blog
              %li.nav-item
                %a.nav-link{:href => "menu.html"} Menus
              -# %li.nav-item
              -#   %a.nav-link
              -#     %button#hamburger.btn-menu.border-0.hamburger--elastic.ml-autos{:type => "button"}
              -#       %span.hamburger-box
              -#         %span.hamburger-inner
              -# .sidebar


    .main-banner
      .main-banner__content
        .main-banner__items
          .main-banner__item
            .main-banner__text
              .main-banner__title
                %p Florence 
              .main-banner__description
                %p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati cum iure at ea aliquid ullam vero sit eligendi, consequuntur vel ut quasi! Iste sunt doloribus, quibusdam eveniet commodi minus quis?
            .main-banner__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2018/01/servicios-de-banqueteria-florence.cl-17.png"}/
        .main-banner__items
          .main-banner__item
            .main-banner__text
              .main-banner__title
                %p Florence 
              .main-banner__description
                %p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati cum iure at ea aliquid ullam vero sit eligendi, consequuntur vel ut quasi! Iste sunt doloribus, quibusdam eveniet commodi minus quis?
            .main-banner__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2018/01/servicios-de-banqueteria-florence.cl-21.png"}/
    %section.main-dishes
      .container
        .main-dishes__content
          .main-dishes__item
            .main-dishes__img
              %img{ :src => "assets/img/icons/1.png"}/
            .main-dishes__box
              .main-dishes__title
                %p Buffet
          .main-dishes__item
            .main-dishes__img
              %img{ :src => "assets/img/icons/2.png"}/
            .main-dishes__box
              .main-dishes__title
                %p Pasteles y tortas
          .main-dishes__item
            .main-dishes__img
              %img{ :src => "assets/img/icons/3.png"}/
            .main-dishes__box
              .main-dishes__title
                %p Desayunos a domicilio
    %section.main-about
      .container
        .main-about__content
          .main-about__line
            .main-about__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2019/07/FLORENCE-01-1.jpg"}/
          .main-about__box
            .main-general__title
              %p Quiénes somos
            .main-about__description
              .main-about__text
                .main-about__subtitle
                  %p Vision
                .main-about__subdescrition
                  %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis eos nemo, suscipit et reiciendis animi exercitationem expedit.
              .main-about__text
                .main-about__subtitle
                  %p Mision
                .main-about__subdescrition
                  %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis eos nemo, suscipit et reiciendis animi exercitationem expedit.
            .btn-box
              %button.btn_custom.btn--medium.btn--filled{"data-target" => "#exampleModal", "data-toggle" => "modal", :type => "button"}
                Contacto
        .main-about__team
          .main-about__item
            .main-about__titleteam
              %p Equipo
            .main-about__descriptionteam
              %p Lorem ipsum dolor sit amet consectetur adipisicing elit.
          .main-about__block
            .main-about__boxteam
              %img{ :src => "assets/img/people/1.jpg"}/
            .main-about__boxteam
              %img{ :src => "assets/img/people/4.jpg"}/
            .main-about__boxteam
              %img{ :src => "assets/img/people/3.jpg"}/
            .main-about__boxteam
              %img{ :src => "assets/img/people/2.jpg"}/
    
    %section.main-gallery
      .container
        .main-general__title
          %p Galería
        .main-gallery__content 
          .main-gallery__item
            .main-gallery__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2018/01/servicios-de-banqueteria-florence.cl-35.png"}/
          .main-gallery__item
            .main-gallery__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2018/01/servicios-de-banqueteria-florence.cl-34.png"}/
          .main-gallery__item
            .main-gallery__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2018/01/servicios-de-banqueteria-florence.cl-21.png"}/
          .main-gallery__item
            .main-gallery__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2018/01/servicios-de-banqueteria-florence.cl-28.png"}/
          .main-gallery__item
            .main-gallery__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2018/01/servicios-de-banqueteria-florence.cl-16.png"}/
          .main-gallery__item
            .main-gallery__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2018/01/servicios-de-banqueteria-florence.cl-7.png"}/
    %section.main-post
      .container
        .main-general__title
          %p Blog
        .main-post__content
          .main-post__item
            .main-post__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2019/07/FLORENCE-01-1.jpg"}/
            .main-post__box
              .main-post__title
                %p BANQUETERÍA Y REPOSTERÍA FLORENCE
              .main-post__description
                %p Banquetería y Repostería Florence es una de esas compañías que se convierten en el sustento de una familia durante generaciones.
              .main-post__btn
                %button.btn_custom.btn--medium.btn--filled
                  Leer más
          .main-post__item
            .main-post__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2019/07/WhatsApp-Image-2019-06-26-at-13.39.59.jpeg"}/
            .main-post__box
              .main-post__title
                %p REGALA FELICIDAD A TUS COLABORADORES
              .main-post__description
                %p ¿Tienes una empresa y buscas obsequios corporativos para entregarle a tus colaboradores, a tus clientes más fieles o para sorprender en un evento promocional? 
              .main-post__btn
                %button.btn_custom.btn--medium.btn--filled
                  Leer más
          .main-post__item
            .main-post__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2019/06/Florence-montaje-1.jpg"}/
            .main-post__box
              .main-post__title
                %p EL MEJOR BUFFET DE EMPRESAS EN BANQUETERÍA
              .main-post__description
                %p Como bien sabemos, en una compañía las comidas y banquetes son una parte más de los negocios.
              .main-post__btn
                %button.btn_custom.btn--medium.btn--filled
                  Leer más
    %section.main-contact
      .container
        .main-contact__content
          .main-contact-item
            .main-contact__info
              .main-general__title
                %p Contáctanos
              .main-contact__description
                %p Ésta es la vía correcta, para hacer llegar y deseas hacer un reclamo, Felicitacitarnos o realizar consultas generales.
              .main-contact__data
                %ul.main-contact__ul      
                  %li
                    %a.main-contact__link{ href: '#' }
                      %i.fa.fa-envelope
                      %p ventas@banqueteriaflorence.cl
                  %li
                    %a.main-contact__link{ href: '#' }
                      %i.fa.fa-location-arrow
                      %p Verde N° 12595, La Florida (Metro Elisa Correa)
                  %li
                    %a.main-contact__link{ href: 'tel:(2)27237847' }
                      %i.fa.fa-phone
                      %p (2) 2723 7847
              .main-contact__redes
                %ul.main-contact__ul.main-contact__ul--inline
                  %li
                    %a.main-contact__social{ :href=> 'https://www.facebook.com/BanqueteriaFlorence/', :target =>'_blank' }
                      %i.fa.fa-facebook 
                  %li
                    %a.main-contact__social{ :href=> 'https://www.instagram.com/banqueteriaflorence/', :target =>'_blank' }
                      %i.fa.fa-linkedin
          .main-contact-item
            .main-contact__form
              %form
                .form-group
                  %input#formGroupExampleInput.form-control{:placeholder => "Nombre y apellido", :type => "text"}/
                .form-group
                  %input#formGroupExampleInput2.form-control{:placeholder => "Correo", :type => "text"}/
                .form-group
                  %input#formGroupExampleInput2.form-control{:placeholder => "Teléfono", :type => "phone"}/
                .form-group
                  %input#formGroupExampleInput2.form-control{:placeholder => "Mensaje", :type => "text"}/
                .btn-box.float-right
                  %button.btn_custom.btn--medium.btn--filled
                    Enviar
    
    -#%section.main-product
      .container
        .main-product__content
          .main-product__item
            .main-product__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2018/02/coffe-break-express-vajilla-desechable-300x114.png"}/
            .main-product__box
              .main-product__title
                %p COFFE BREAK VAJILLA DESECHABLE
              .main-product__description
                %p $3.800 + IVA por persona
          .main-product__item
            .main-product__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2018/02/coffe-break-express-vajilla-loza-300x114.png"}/
            .main-product__box
              .main-product__title
                %p COFFE BREAK VAJILLA DE LOZA
              .main-product__description
                %p $3.800 + IVA por persona
          .main-product__item
            .main-product__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2018/02/coffe-break-tradicional-300x114.png"}/
            .main-product__box
              .main-product__title
                %p COFFE BREAK TRADICIONAL
              .main-product__description
                %p $3.800 + IVA por persona
          .main-product__item
            .main-product__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2018/02/coffe-break-especial-300x114.png"}/
            .main-product__box
              .main-product__title
                %p COFFE BREAK ESPECIAL
              .main-product__description
                %p $3.800 + IVA por persona
    %footer.main-footer
      .container
        .main-footer__copy
          %p
            %a{:href =>"http://cmarketing.cl/"}
              Contact Marketing | 
            Todos los derechos Reservados
    / Modal
    #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-header
            %h5#exampleModalLabel.modal-title Contáctanos
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            %form
              .form-group
                %input#formGroupExampleInput.form-control{:placeholder => "Nombre y apellido", :type => "text"}/
              .form-group
                %input#formGroupExampleInput2.form-control{:placeholder => "Correo", :type => "text"}/
              .form-group
                %input#formGroupExampleInput2.form-control{:placeholder => "Teléfono", :type => "phone"}/
              .form-group
                %input#formGroupExampleInput2.form-control{:placeholder => "Mensaje", :type => "text"}/
              .btn-box.float-right
                %button.btn_custom.btn--medium.btn--filled
                  Enviar
    %script{src: "assets/js/jquery.min.js"}
    %script{src: "assets/js/bootstrap.min.js"}
    %script{src: "assets/js/slick.min.js"}
    %script{src: "assets/js/setting-slick.js"}
    %script{src: "assets/js/main.js"}
    :javascript
      //menu drop
      $('.nav .dropdown').hover(function () {
        $(this).addClass('open');
      }, function () {
        $(this).removeClass('open');
      });
