!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name:"viewport"}/
    %title Banqueteria Florence
    %link{rel: "stylesheet", href:"assets/css/bootstrap.min.css"}/
    %link{rel: "stylesheet", href:"assets/css/main.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick-theme.css"}/
    %link{rel: "stylesheet", href:"assets/css/font-awesome.css"}/
    / Favicons
    %link{:href => "assets/img/favicon.ico", :rel => "shortcut icon"}/
  %body
    %header#home
      %nav.navbar.navbar-expand-lg.fixed-top.navbar-fixed-js
        .container
          .main-brand
            %a.navbar-brand{:href => "#"}
              %img#iso{:src => "assets/img/banqueteria-florence-logo.png"}/
            %button#hamburger.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.ml-autos{"data-toggle" => "offcanvas", :type => "button"}
              %span.hamburger-box
                %span.hamburger-inner
          .navbar-collapse.offcanvas-collapse
            %ul.navbar-nav.mr-autos.ul-nav__relative
              %li.nav-item
                %a.nav-link.active{:href => "index.html"} Home
              %li.dropdown.nav-item
                %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Eventos empresas
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Coffee Break
                  %li
                    %a{:href => "#"} Desayunos
                  %li
                    %a{:href => "#"} Buffet
                  %li
                    %a{:href => "#"} Lunch Box
                  %li
                    %a{:href => "#"} Cóctel
              %li.dropdown.nav-item
                %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Eventos personas
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Cóctel
                  %li
                    %a{:href => "#"} Buffet
              %li.dropdown.nav-item
                %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Cocteleria
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Galería cocteleria
                  %li
                    %a{:href => "#"} Lista de precios

              %li.dropdown.nav-item
                %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Pastelería
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Tortas Artesanales
                  %li
                    %a{:href => "#"} Tortas con Diseño
                  %li
                    %a{:href => "#"} Tortas de Novios
                  %li
                    %a{:href => "#"} Postres al vaso
                  %li
                    %a{:href => "#"} Desayunos a Domicilio
              %li.nav-item
                %a.nav-link{:href => "blog.html"} Blog
              %li.nav-item
                %a.nav-link{:href => "menu.html"} Menus
    %section.main-parallax.main-how
      .overlay
      .main-general__info.main-general__info--white.main-general__info--left
        .main-parallax__title
          Nuestro menú
    %section.main-product.main-product__padding
      .container
        .main-product__content
          .main-product__item
            .main-product__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2018/02/coffe-break-express-vajilla-desechable-300x114.png"}/
            .main-product__box
              .main-product__title
                %p COFFE BREAK VAJILLA DESECHABLE
              .main-product__description
                %p $3.800 + IVA por persona
          .main-product__item
            .main-product__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2018/02/coffe-break-express-vajilla-loza-300x114.png"}/
            .main-product__box
              .main-product__title
                %p COFFE BREAK VAJILLA DE LOZA
              .main-product__description
                %p $3.800 + IVA por persona
          .main-product__item
            .main-product__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2018/02/coffe-break-tradicional-300x114.png"}/
            .main-product__box
              .main-product__title
                %p COFFE BREAK TRADICIONAL
              .main-product__description
                %p $3.800 + IVA por persona
          .main-product__item
            .main-product__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2018/02/coctel-deluxe-300x114.png"}/
            .main-product__box
              .main-product__title
                %p Buffet Light
              .main-product__description
                %p $3.800 + IVA por persona
          .main-product__item
            .main-product__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2018/02/buffet-tradicional-300x114.png"}/
            .main-product__box
              .main-product__title
                %p Buffet Tradicional
              .main-product__description
                %p $3.800 + IVA por persona
          .main-product__item
            .main-product__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2018/02/buffet-deluxe-300x114.png"}/
            .main-product__box
              .main-product__title
                %p buffet deluxe
              .main-product__description
                %p $3.800 + IVA por persona
          .main-product__item
            .main-product__img
              %img{ :src => "https://www.banqueteriaflorence.cl/wp-content/uploads/2018/04/tortas-tradicionales-banqueterialorence.cl_-300x114.png"}/
            .main-product__box
              .main-product__title
                %p TORTAS TRADICIONALES
              .main-product__description
                %p $3.800 + IVA por persona
    %footer.main-footer
      .container
        .main-footer__copy
          %p
            %a{:href =>"http://cmarketing.cl/"}
              Contact Marketing | 
            Todos los derechos Reservados
    / Modal
    #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-header
            %h5#exampleModalLabel.modal-title Contáctanos
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            %form
              .form-group
                %input#formGroupExampleInput.form-control{:placeholder => "Nombre y apellido", :type => "text"}/
              .form-group
                %input#formGroupExampleInput2.form-control{:placeholder => "Correo", :type => "text"}/
              .form-group
                %input#formGroupExampleInput2.form-control{:placeholder => "Teléfono", :type => "phone"}/
              .form-group
                %input#formGroupExampleInput2.form-control{:placeholder => "Mensaje", :type => "text"}/
              .btn-box.float-right
                %button.btn_custom.btn--medium.btn--filled
                  Enviar
    %script{src: "assets/js/jquery.min.js"}
    %script{src: "assets/js/bootstrap.min.js"}
    %script{src: "assets/js/slick.min.js"}
    %script{src: "assets/js/setting-slick.js"}
    %script{src: "assets/js/main.js"}


